{% extends "base.html" %}

{% block content %}
<h1>Edit Class</h1>
<div class="container">
    <div class="row">
        <form action="{% url 'edit_event' event.id %}" method="post" class='text-start' id="edit-event-form" aria-label="edit event form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
            <button type="submit" class="btn btn-success" aria-label="Button to submit the edited class">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}