{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        <h1 class="text-center">Diet Review</h1>
        <div class="col-md-6">
            <h4>Your Diet</h4>
            <p>Your Calorie Goal:</p>
            <p>Your Current intake:</p>
            <h6>Breakfast</h6>
            <div id="breakfast-text"></div>
            <h6>Lunch</h6>
            <div id="lunch-text"></div>
            <h6>Dinner</h6>
            <div id="dinner-text"></div>
            <h6>Snacks</h6>
            <div></div>
        </div>
        <div class="col-md-6">
            <h4>Recommendations & Changes</h4>
            <p>If you follow these changes you will consume:</p>
            <h4>Your Diet</h4>
            <h6>Breakfast</h6>
            <div id="breakfast-text"></div>
            <h6>Lunch</h6>
            <div id="lunch-text"></div>
            <h6>Dinner</h6>
            <div id="dinner-text"></div>
            <h6>Snacks</h6>
            <div></div>
        </div>
    </div>
</main>
{% endblock content %}