{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/inbox_style.css' %}">
{% endblock styles%}



{% block content %}
<main>
    {% for chat in chats %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Inbox</h1>
                <div class="card">
                    <div class="card-body row">
                        <div class="col-8">
                            <h5 class="card-title">{{ chat.user }}</h5>
                            <p class="card-text">This is a snippet of the message</p>
                        </div>
                        <div class="col-4 text-end align-self-center">  
                            <a href="{% url 'chat' chat.chat_id %}">
                                <button class="btn light-blue-button">Open</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock content %}