/* Define CSS variables for the color scheme */
:root {
    --primary-color: #1DB954; /* Neon Green */
    --secondary-color: #121212; /* Deep Black */
    --accent-color: #636262; /* Muted Gray */
    --background-color: #181818; /* Dark Gray */
    --text-color: #ffffff; /* White */
    --highlight-color: #ff4081; /* Pink */
    --border-color: #282828; /* Darker Gray */
    --light-blue-accent: #50C4ED; /* Vibrant Cyan-Blue */
    --light-green-yellow-accent: #DFFF75; /* Soft Neon Yellow-Green */
    --eccentric-color: #E04BFC; /* Bright Pink */
}

body {
    background-color: var(--background-color); /* Dark Gray */
    color: var(--text-color); /* White text for better contrast */
}

nav {
    background-color: var(--secondary-color); /* Deep Black */
    border-bottom: 1px solid var(--border-color); /* Darker Gray border */
}

.navbar-brand, .nav-link {
    color: var(--light-green-yellow-accent) !important; /* Neon Green */
}

.nav-link:hover {
    color: var(--highlight-color) !important; /* Muted Gray on hover */
}

.btn:hover {
    cursor: pointer;
}

.btn-primary-color {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
}

.btn-primary-color:hover {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--text-color);
}

.eccentric-pink-button {
    background-color: var(--eccentric-color);
}

.eccentric-pink-button:hover {
    border-color: var(--eccentric-color);
    color: var(--eccentric-color);
}


.light-blue-button {
    background-color: var(--light-blue-accent);
}

.light-blue-button:hover {
    border-color: var(--light-blue-accent);
    color: var(--light-blue-accent);
}

.neon-yellow-button {
    background-color: var(--light-green-yellow-accent);
}

.neon-yellow-button:hover {
    border-color: var(--light-green-yellow-accent);
    color: var(--light-green-yellow-accent);
}

.card {
    background-color: var(--secondary-color);
}

#track-progress-card {
    border-color: var(--light-green-yellow-accent);
}

#book-session-card {
    border-color: var(--light-blue-accent);
}

#contact-us-card {
border-color: var(--eccentric-color);
}